# Python Programming

### Variables

Variables are used to store values.

In [1]:
x = 5
y = "Hello"
z = True

print("x =", x,"; y =", y, "; z =", z)

x = 5 ; y = Hello ; z = True

In [2]:
7 + 3

10

In [3]:
# _ or 'underscore' is a special variable in Python, which stores the most recent output value of the interpreter
# _ can be used with other expressions and operators as well

print(_ , _+4)

10 14

### Multiple Variable Assignments

In [4]:
a,b,c = 4,5.5,'Hello'
print(a)
print(b)
print(c)

4
5.5
Hello

In [5]:
a,b,*c = [1,2,3,4,5]
print(a)
print(b)
print(c)

1
2
[3, 4, 5]

### Type Method

In [6]:
a,b,c,d,e = 1,'Hello',"Hi",4.5,True # multiple assignment to various variables
print("a:",a)
print("b:",b)
print("c:",c)
print("d:",d)
print("e:",e)

print("\nClass of a:",type(a))
print("Class of b:",type(b))
print("Class of c:",type(c))
print("Class of d:",type(d))
print("Class of e:",type(e))

a: 1
b: Hello
c: Hi
d: 4.5
e: True

Class of a: <class 'int'>
Class of b: <class 'str'>
Class of c: <class 'str'>
Class of d: <class 'float'>
Class of e: <class 'bool'>

### ID Function

In [7]:
x=4
y=5
print("x+y:",x+y)

# demonstrating the id function
a=1
print("\na:",a,", id of a is:",id(a)) # id(variable) return a unique identifier for an object within the memory

b=a # variable 'b' is pointing to 'a'
print("b:",b,", id of b is:",id(b)) # id of 'b' is same as id of 'a' as they both refer to the same object in memory

b=2 # value of variable 'b' is changed
print("\nb:",b,", id of b is:",id(b)) # id of 'b' will be changed

x+y: 9

a: 1 , id of a is: 139532175622384
b: 1 , id of b is: 139532175622384

b: 2 , id of b is: 139532175622416

### Help Function

In [8]:
# Help Function is called if we require any help in Python
# For example, keywords. We should not use these reserved keywords as our variable names
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

### Arithmetic Operations

In [9]:
a = 11 + 5 # addition
b = 11 - 5 # subtraction
c = 11 * 5 # multiplication
d = 11 / 5 # division
e = 11 // 5 # returns quotient as result
f = 11 % 5 # (modulus) returns remainder as result
g = 11 ** 5 # exponents

print("Addition 11+5 :",a)
print("Subtraction 11-5 :",b)
print("Multiplication 11*5 :",c)
print("Division 11/5 :",d)
print("Floor Division 11//5 :",e)
print("Modulus 11%5 :",f)
print("Exponent 11**5 :",g)

Addition 11+5 : 16
Subtraction 11-5 : 6
Multiplication 11*5 : 55
Division 11/5 : 2.2
Floor Division 11//5 : 2
Modulus 11%5 : 1
Exponent 11**5 : 161051

The arithmetic operations always follow the <b>PEDMAS</b> rule.

Consider the two examples below

In [10]:
print("Result of 5+2*7-8/2**2+1 is :", 5+2*7-8/2**2+1)

Result of 5+2*7-8/2**2+1 is : 18.0

In [11]:
print("Result of (5+2)*7-(8/2**2)+1 is :",(5+2)*7-(8/2**2)+1)

Result of (5+2)*7-(8/2**2)+1 is : 48.0

### Boolean Operations

In [12]:
# is: equivalent to ==
# is not: equivalent to !=

print("11 is greater than 5:",11>5) # greater than
print("11 is less than 5:",11<5) # less than
print("11 is equal to 5:",11==5) # equal to
print("11 is 5:",11 is 5) # is statement is equivalent to ==
print("11 is not equal to 5:",11!=5) # not equal to
print("11 is not 5:",11 is not 5) # is not statement is equivalent to !=
print("11 is lesser than or equal to  5:",11<=5) # less than equal to
print("11 is greater than or equal to 5:",11>=5) # greater than equal to

11 is greater than 5: True
11 is less than 5: False
11 is equal to 5: False
11 is 5: False
11 is not equal to 5: True
11 is not 5: True
11 is lesser than or equal to  5: False
11 is greater than or equal to 5: True

<>:7: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:9: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:7: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:9: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-12-11691f6c53ab>:7: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print("11 is 5:",11 is 5) # is statement is equivalent to ==
<ipython-input-12-11691f6c53ab>:9: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  print("11 is not 5:",11 is not 5) # is not statement is equivalent to !=

In [13]:
# AND: Returns true only if both conditions are true
# OR: Returns true if either one of both the conditions is true
# NOT: reverses the result

print("11>5 or 11<5: ",11>5 or 11<5)
print("11>5 and 11<5: ",11>5 and 11<5)
print("False or True: ",False or True)
print("False and True: ",False and True)
print("not(True): ",not(True))
print("not(False): ",not(False))

11>5 or 11<5:  True
11>5 and 11<5:  False
False or True:  True
False and True:  False
not(True):  False
not(False):  True

### Len Method

*    It is used to determine the length of specified variable, string, list, etc.
*    Spaces are also counted

In [14]:
s = "This is a sample text." # special characters and white spaces are also counted
print("s:",s)
print("\nLength of the string 's' is:",len(s))

s: This is a sample text.

Length of the string 's' is: 22

### In Operator

*    in operator is used to check whether a substring is present in the main string

In [15]:
a = "This is a sample string"
print("a:",a)

print("\n'sample' in a:",'sample' in a)
print("'test' in a:",'test' in a)
print("'sample' not in a:",'sample' not in a) # not in means not a substring

a: This is a sample string

'sample' in a: True
'test' in a: False
'sample' not in a: False

### All / Any
* **all** returns True if all values are True, else returns False
* **any** returns True if any value is True, else returns False

In [16]:
print('all([True,False,False]):',all([True,False,False]))
print('any([True,False,False]):',any([True,False,False]))

all([True,False,False]): False
any([True,False,False]): True

### Strings

In [17]:
# Strings can be specified using both single or double quotes.

x = "Orange" # using double quotes
y = 'Yellow' # using single quotes

print("x:",x)
print("y:",y)

print("\nx==y:",x==y) # equal to
print("x is y:",x is y) # is statement is equivalent to ==
print("x!=y:",x!=y) # not equal to
print("x<y:",x<y) # less than, returns true as 'o' comes before 'y'
print("x>y",x>y) # greater than, returns false as 'o' comes before 'y'
print("1=='1':",1=='1') # 1 is an integer while '1' is a string

x: Orange
y: Yellow

x==y: False
x is y: False
x!=y: True
x<y: True
x>y False
1=='1': False

In [18]:
# A String Peculiarity
s1='abcdef'
s2='abcdef'
print('\ns1:',s1)
print('s2:',s2)
print("s1 is s2:",s1 is s2) # returns True

s3='abc-def'
s4='abc-def'
print('\ns3:',s3)
print('s4:',s4)
print("s3 is s4:",s3 is s4) # returns False because of the introduction of special character
print("s3 == s4:",s3 == s4)

s1: abcdef
s2: abcdef
s1 is s2: True

s3: abc-def
s4: abc-def
s3 is s4: False
s3 == s4: True

#### Indexing

In [19]:
s = "Some text"
print("s:",s)
length = len(s)
print("Length:",length)

print("\nFirst character, s[0]:",s[0]) # first character
print("Character at index position 7, s[7]:",s[7]) # fetches the character at index position 7 in the string
print("Last character, ,s[length-1]:",s[length-1]) # last character

# Negative indexing is also possible.
print("\nLast character using negative indexing, s[-1]:",s[-1]) # fetches last element
print("Character at index position 4 from the end, s[-4]:",s[-4]) # fetches 4th element from the end (equivalent to index position 7 from the beginning)
print("First character, s[-(length)]:",s[-(length)]) # fetches first element (equivalent to s[0])

s: Some text
Length: 9

First character, s[0]: S
Character at index position 7, s[7]: x
Last character, ,s[length-1]: t

Last character using negative indexing, s[-1]: t
Character at index position 4 from the end, s[-4]: t
First character, s[-(length)]: S

#### Backslash & Newline

*    Escape sequences are specified using <b> (\\)</b>.
*    <b>\n</b> is used as a wildcard in order to print a new blank line.

In [20]:
print("Text 1\nText 2") # two separate lines are printed

Text 1
Text 2

In [21]:
print("Text 1\\nText 2") # In order to print \n as text, we insert a backslash as an escape sequence.

Text 1\nText 2

In [22]:
print(r"Text 1\nText 2") # Letter 'r' can also be placed before the string as an alternative to escape sequence (works similar to above)

Text 1\nText 2

In [23]:
print("Text 1\tText 2") # \t represents a tab

Text 1	Text 2

#### Three quotes

In [24]:
paragraph= """This is a test paragraph using double quotes.
This is another line.\n"""
print(paragraph)

second_paragraph='''This is a second paragraph using single quotes.
Multiple lines can be used.\n'''
print(second_paragraph)

third_paragraph='''This is a third paragraph. \
Multiple lines can be used. \
If we use \ in the end of line, it continues to remain in the same line.\n'''
print(third_paragraph)

print("Class of paragraph:",type(paragraph)) # paragraph is used mostly for documentation. It is of String datatype.
print("Length of paragraph:",len(paragraph))

This is a test paragraph using double quotes.
This is another line.

This is a second paragraph using single quotes.
Multiple lines can be used.

This is a third paragraph. Multiple lines can be used. If we use \ in the end of line, it continues to remain in the same line.

Class of paragraph: <class 'str'>
Length of paragraph: 68

#### Multiplication of strings

In [25]:
s1='Hey! '
print(s1*3) # 3 copies of string s1

Hey! Hey! Hey!

#### Concatenation of strings

In [26]:
"This is a "+'concatenated string.'

'This is a concatenated string.'

#### Functions on strings

In [27]:
s = "this is a sample string."
print("s:",s)

print("\ns.upper():",s.upper()) # converts string into upper case
print("s.lower():",s.lower()) # converts string into lower case
print("s.capitalize():",s.capitalize()) # capitalize the first letter
print('s.replace(" ","_"):',s.replace(" ","_")) # replaces blank space with underscvore
print("s.count('s'):",s.count('s')) # returns the number of occurrences, without overlap
print("s.title():",s.title()) # returns the string with first capital letter of each word
print("s.split():",s.split()) # splits the string (on blank spaces)
print("s.split('s'):",s.split('s')) # splits the string (on character 's')
print("s.find('amp'):",s.find('amp')) # returns the starting index position of the first occurence
print("s.index('amp'):",s.index('amp')) # returns the index of specified string
print("s[1:12]:",s[1:12]) # extracts substring from index position 1 to index position 11
print("s[1:12:2]:",s[1:12:2]) # extracts substring from index position 1 to index position 11 while skipping two places
print("s[::-1]:",s[::-1]) # reverses the string
print("s.startswith('this'):",s.startswith('this')) # checks the start of the string
print("s.endswith('this'):",s.endswith('this')) # checks the end of the string
print("s.replace('sample','test'):",s.replace('sample','test'))

a = "    String with spaces      "
print("\na:"+a+" has length:",len(a))

print("a.lstrip(): "+a.lstrip()+" has length:",len(a.lstrip())) # lstrip removes the white spaces from the left side
print("a.rstrip(): "+a.rstrip()+" has length:",len(a.rstrip())) # rstrip removes the white spaces from the right side
print("a.strip(): "+a.strip()+" has length:",len(a.strip())) # strip() removes the white spaces from the left and right end

b="00543"
print("\nb:",b)
print("b.lstrip('0'):",b.lstrip('0'))

c='SamPlE TeXt'
print('\nc:',c)
print('c.swapcase():',c.swapcase()) # Swaps cases for all the letters of the string

d='12345ABCdef'
print('\nd:',d)
print('d.isalnum():',d.isalnum()) # Checks whether the string is alphanumeric

e='56893'
print('\ne:',e)
print('e.isnumeric():',e.isnumeric()) # Checks whether the string is numeric

f='Learning_Python'
print('\nf:',f)
print('f.isalpha():',f.isalpha()) # Checks whether the string is alphabetic

g='Coding'
print('\ng:',g)
print('g.isalpha():',g.isalpha()) # Checks whether the string is alphabetic
print('g.islower():',g.islower()) # Checks whether the string has lowercase
print('g.isupper():',g.isupper()) # Checks whether the string has uppercase
print('g.istitle():',g.istitle()) # Checks whether the string has a title cased
print('g.isspace():',g.isspace()) # Checks whether all characters in string are whitespace

# partition() return a tuple that includes the first occurrence of the separator sandwiched between the first half and the end half
s='Test-String'
print("\ns:",s)
print("s.partition('-'):",s.partition('-'))

s: this is a sample string.

s.upper(): THIS IS A SAMPLE STRING.
s.lower(): this is a sample string.
s.capitalize(): This is a sample string.
s.replace(" ","_"): this_is_a_sample_string.
s.count('s'): 4
s.title(): This Is A Sample String.
s.split(): ['this', 'is', 'a', 'sample', 'string.']
s.split('s'): ['thi', ' i', ' a ', 'ample ', 'tring.']
s.find('amp'): 11
s.index('amp'): 11
s[1:12]: his is a sa
s[1:12:2]: hsi  a
s[::-1]: .gnirts elpmas a si siht
s.startswith('this'): True
s.endswith('this'): False
s.replace('sample','test'): this is a test string.

a:    String with spaces       has length: 28
a.lstrip(): String with spaces       has length: 24
a.rstrip():     String with spaces has length: 22
a.strip(): String with spaces has length: 18

b: 00543
b.lstrip('0'): 543

c: SamPlE TeXt
c.swapcase(): sAMpLe tExT

d: 12345ABCdef
d.isalnum(): True

e: 56893
e.isnumeric(): True

f: Learning_Python
f.isalpha(): False

g: Coding
g.isalpha(): True
g.islower(): False
g.isupper(): False
g.istitle(): True
g.isspace(): False

s: Test-String
s.partition('-'): ('Test', '-', 'String')

#### String Substitution

*    Variables can be printed within a string using format function

In [28]:
s = "I want {} colors".format("two") # {} are used for substituting text
print(s)
print("I want {n} colors".format(n="three"))

n = 4
print(f"I want {n} colors") # .format() can be also be replaced using f in the starting

I want two colors
I want three colors
I want 4 colors

In [29]:
color1 = 'blue'
color2 = 'pink'
number = 2
print('\nMy {} favourite colors are {} and {}'.format(number,color1,color2))
print('My {a} favourite colors are {b} and {c}'.format(a=number,b=color1,c=color2))

print("\nString substitution is possible using arguments. {0} {1} {2} and so on....".format("Text_1","Text_2","Text_3"))
print("My text has string: %s" %("Hello.!"))
print("My text has string containing %% sign and %s" %("Hello!!")) # % sign acts as an escape sequence
print("My text has number: %d" %(42.4))
print("My text has number with 0 decimal places: %.0f" %(42.4))
print("My text has number with 4 decimal places: %.4f" %(42.4))

My 2 favourite colors are blue and pink
My 2 favourite colors are blue and pink

String substitution is possible using arguments. Text_1 Text_2 Text_3 and so on....
My text has string: Hello.!
My text has string containing % sign and Hello!!
My text has number: 42
My text has number with 0 decimal places: 42
My text has number with 4 decimal places: 42.4000

In [30]:
pi = 3.1415926
e = 2.7182818
print('\nValues are: pi={} and e={}'.format(pi,e))
values = [pi,e]
print('Values are: pi={values[0]:.2f} and e={values[1]:.3f}'.format(values=values))

Values are: pi=3.1415926 and e=2.7182818
Values are: pi=3.14 and e=2.718

### Lists
*    A List is created using square brackets []
*    Lists are mutable

In [31]:
[] #This is an empty List

[]

In [32]:
# A list can have multiple elements of same or different data type

a = [12, 'abc', 8.95, "xyz",[2,6]]
print("a:",a)

b = [4,7,2,4]
print("b:",b)

c = a+b # concatenation
print("c:",c)

print("\nLength of c:",len(c))
print("'abc' in a:",'abc' in a)
print("35 in b:",35 in b)
print("12 not in a:",12 not in a)
print("2*b:",2*b) # 2 copies of list b
print("min(b):",min(b)) # minimum in list (list must not have strings)
print("max(b):",max(b)) # maximum in list (list must not have strings)
print("sum(b):",sum(b)) # sum of list elements (list must not have strings)

a: [12, 'abc', 8.95, 'xyz', [2, 6]]
b: [4, 7, 2, 4]
c: [12, 'abc', 8.95, 'xyz', [2, 6], 4, 7, 2, 4]

Length of c: 9
'abc' in a: True
35 in b: False
12 not in a: False
2*b: [4, 7, 2, 4, 4, 7, 2, 4]
min(b): 2
max(b): 7
sum(b): 17

In [33]:
a = [1,2,3,4,5]
print("Original List: {}" .format(a))

# Append method is used to add new elements in the pre-exisiting list.
a.append(6)
print("List after append(): {}" .format(a))

# extend method is used to extend the list
a.extend([7,8,9])
print("List after extend(): {}" .format(a))

# Pop method is used to remove the last element from the list.
a.pop()
print("List after pop(): {}" .format(a))

# Insert into position
a.insert(4,'Text')
print("List after insert(): {}" .format(a))

Original List: [1, 2, 3, 4, 5]
List after append(): [1, 2, 3, 4, 5, 6]
List after extend(): [1, 2, 3, 4, 5, 6, 7, 8, 9]
List after pop(): [1, 2, 3, 4, 5, 6, 7, 8]
List after insert(): [1, 2, 3, 4, 'Text', 5, 6, 7, 8]

In [34]:
# A specific element can be referred from a list. For instance:
a = [1,2,3,4,5]
print("a:",a)

L = (len(a))
print("\nLength of a (L): {}" .format(L))# The length of the list. Indexing starts from zero.
print("a[2]:",a[2]) # Third element
print("a[0]:",a[0]) # First element
print("a[L-1]:",a[L-1]) # Last element

# Setting a value in list (mutable)
# For example, set a value of 6 at index position 2
a[2] = 6 # 3 is changed to 6
print("\nList after setting new value: {}" .format(a))

# A specific element can be removed from a list using its index position in the pop function.
# For example, remove element 6
a.pop(2) # a.pop(index)
print("List after pop(2): {}" .format(a))

# An element can be deleted from a list using del function by specifying its index position
del(a[0])
print("Final List after deleting an element: {}" .format(a))

a: [1, 2, 3, 4, 5]

Length of a (L): 5
a[2]: 3
a[0]: 1
a[L-1]: 5

List after setting new value: [1, 2, 6, 4, 5]
List after pop(2): [1, 2, 4, 5]
Final List after deleting an element: [2, 4, 5]

In [35]:
a = ["Ravi","Rahul","Rohan"]
print("a:",a)

print("\na[2][2]:",a[2][2]) # Third element, Third character
print("a[1][3]:",a[1][3]) # Second element, Fourth character
print("a[0][2]:",a[0][2]) # First element, Third character

# nesting
b = [12, 'abc', ["Text",5.34,23,True], "xyz",[2,6]]
print("\nb:",b)

print("\nb[1]:",b[1])
print("b[2]:",b[2])
print("b[2][1]:",b[2][1])
print("b[2][0][3]:",b[2][0][3])

a: ['Ravi', 'Rahul', 'Rohan']

a[2][2]: h
a[1][3]: u
a[0][2]: v

b: [12, 'abc', ['Text', 5.34, 23, True], 'xyz', [2, 6]]

b[1]: abc
b[2]: ['Text', 5.34, 23, True]
b[2][1]: 5.34
b[2][0][3]: t

In [36]:
a = [1,5,8,2,5,2]
print("a:",a)

print("Class of a:",type(a))
a.reverse() # reverses the list
print("After a.reverse(), a:",a)

a: [1, 5, 8, 2, 5, 2]
Class of a: <class 'list'>
After a.reverse(), a: [2, 5, 2, 8, 5, 1]

In [37]:
a = [1,5,8,2,5,2]
print("a:",a)

print("a.count(5):",a.count(5)) # returns the number of occurences of element 5
print("a.index(5):",a.index(5)) # returns the first index position of element 5

a.remove(5) # removes the first occurence of element 5
print("List after removing 5: ",a)

a.sort() # sorts the list in ascending order
print("\nList after sorting: ",a)

b = 'This is a sample string consisting of multiple words for the testing purpose.'.split()
b.sort(key=len) # key argument to sort() accepts a function for producing a sort key from an item
print("\nList after sorting using key argument:\n ",b)

a: [1, 5, 8, 2, 5, 2]
a.count(5): 2
a.index(5): 1
List after removing 5:  [1, 8, 2, 5, 2]

List after sorting:  [1, 2, 2, 5, 8]

List after sorting using key argument:
  ['a', 'is', 'of', 'for', 'the', 'This', 'words', 'sample', 'string', 'testing', 'multiple', 'purpose.', 'consisting']

In [38]:
a = [1,5,8,2,5,2]
print("a:",a)

print("\na[3:5]:",a[3:5]) # fetches elements from index position 3 to index position 4
print("a[1:]:",a[1:]) # fetches elements from index position 1 till end
print("a[:3]:",a[:3]) # fetches elements from starting till index position 2

b = a # list B is referencing to list A
print("\nList A is {x} and List B is {y}".format(x=a,y=b))

a[2] = 5 # change in List A
print("After changing a[2]=5,\nList A is {x} and List B is {y}".format(x=a,y=b)) # notice that list B also changes at the same position since both are referencing to the same list in memory.

c = a[:] # List C is created by cloning list A, a new list is created and not referenced
print("\nList A is {x} and List C is {z}".format(x=a,z=c))

a[2] = 3
print("After changing a[2]=3,\nList A is {x} and List C is {z}".format(x=a,z=c))
# notice that list C doesn't changes because both are the different lists and they are not referencing to the same list in memory.

a: [1, 5, 8, 2, 5, 2]

a[3:5]: [2, 5]
a[1:]: [5, 8, 2, 5, 2]
a[:3]: [1, 5, 8]

List A is [1, 5, 8, 2, 5, 2] and List B is [1, 5, 8, 2, 5, 2]
After changing a[2]=5,
List A is [1, 5, 5, 2, 5, 2] and List B is [1, 5, 5, 2, 5, 2]

List A is [1, 5, 5, 2, 5, 2] and List C is [1, 5, 5, 2, 5, 2]
After changing a[2]=3,
List A is [1, 5, 3, 2, 5, 2] and List C is [1, 5, 5, 2, 5, 2]

In [39]:
a = [1,2,3]
b = [1,2,3]

print('a==b:',a==b) # Values are equivalent
print('a is b:',a is b) # Separate objects

print('\nid(a):',id(a))
print('id(b):',id(b))

a==b: True
a is b: False

id(a): 139531882160000
id(b): 139531882159232

### Tuples

*    Tuples are exactly similar to Lists, but they are immutable
*    Tuples are defined inside parenthesis ()

In [40]:
a = (1,5,8,2,5,2)
print("a:",a)
print("Type: ",type(a))
print("Sum: ",sum(a)) # sum of a tuple containing integers
print("a.count(5): ",a.count(5)) # returns the number of occurences of element 5
print("a.index(8): ",a.index(8)) # returns the first index position of element 8

# functions like reverse, remove and sort will not work since tuples are not mutable in nature.

# sorted function returns a sorted list and can be called on any iterable series (here tuple)
b = sorted(a) # sorted in ascending order
print("\nb: ",b)
print("Type of b: ",type(b)) # b is a list

c = sorted(a,reverse=True) # sorted in descending order
print("\nc: ",c)
print("Sum: ",sum(c))

d = reversed(a) # reverses any iterable series (here tuple), returns an object
print('\nIterable Series: {}'.format(a))
print('Reversed List: {}'.format(list(d))) # object converted explicitly into list

a: (1, 5, 8, 2, 5, 2)
Type:  <class 'tuple'>
Sum:  23
a.count(5):  2
a.index(8):  2

b:  [1, 2, 2, 5, 5, 8]
Type of b:  <class 'list'>

c:  [8, 5, 5, 2, 2, 1]
Sum:  23

Iterable Series: (1, 5, 8, 2, 5, 2)
Reversed List: [2, 5, 2, 8, 5, 1]

In [41]:
a = (100,) # only one element
print('{} is a tuple: {}'.format(a,type(a)))

b = 1,2,3,4,5 # multiple elements without parenthesis
print('\n{} is a tuple: {}'.format(b,type(b)))

# Swapping elements
c,d = 10,20
print('\nc: {} & d: {}'.format(c,d))

c,d = d,c
print('After Swapping\nc: {} & d: {}'.format(c,d))

e = tuple('Apple')
print('\ne: {}'.format(e))

(100,) is a tuple: <class 'tuple'>

(1, 2, 3, 4, 5) is a tuple: <class 'tuple'>

c: 10 & d: 20
After Swapping
c: 20 & d: 10

e: ('A', 'p', 'p', 'l', 'e')

### String Partition

In [42]:
# The partition() method divides a string into three around a separator: prefix, separator, suffix
# Using tuple unpacking, the result can be destructured.
# Underscore(_) can be used as a dummy name in place of the separator

a = 'Jack-Martin'
first_name, separator, last_name = a.partition('-') # returns a tuple
print('Name is: {} {}'.format(first_name,last_name))

b = 'Jack|24'
name, _, age = b.partition('|') # _ is used for invaluable results
print('\nName is: {}\nAge is: {}'.format(name,age))

Name is: Jack Martin

Name is: Jack
Age is: 24

### Objects

In [43]:
# created explicitly using constructors (int(), str(), list(), float())

print("int(4): ",int(4))
print("int(4.5): ",int(4.5)) # type conversion from float to integer
print("int('78'): ", int('78')) # type conversion from string to integer
print("int(True): ",int(True)) # type conversion from boolean to integer

print("\nstr('Hey'): ",str('Hey'))
print("str(53): ",str(53)) # type conversion from integer to string
print("str(46.2): ", str(46.2)) # type conversion from float to string
print("str(True): ",str(True)) # type conversion from boolean to string

print("\nfloat(3.6): ",float(3.6))
print("float('21.64'): ", float('21.64')) # type conversion from string to float
print("float(435): ", float(435)) # type conversion from integer to float
print("float(True): ",float(True)) # type conversion from boolean to float

print("\nbool(1): ",bool(1))
print("bool(0): ", bool(0))

print("\nlist([3,6,'fan']): ",list([3,6,'fan']))
print("tuple([2,8,'test', False]): ",tuple([2,8,'test', False]))
print("tuple('String123'): ", tuple('String123'))

# Default Values
print("\nDefault Values\nint(): ",int()) # 0
print("float(): ",float()) #0.0
print("str(): ",str()) # '' (blank string)
print("list(): ",list()) # [] (blank list)
print("bool(): ", bool()) # False

int(4):  4
int(4.5):  4
int('78'):  78
int(True):  1

str('Hey'):  Hey
str(53):  53
str(46.2):  46.2
str(True):  True

float(3.6):  3.6
float('21.64'):  21.64
float(435):  435.0
float(True):  1.0

bool(1):  True
bool(0):  False

list([3,6,'fan']):  [3, 6, 'fan']
tuple([2,8,'test', False]):  (2, 8, 'test', False)
tuple('String123'):  ('S', 't', 'r', 'i', 'n', 'g', '1', '2', '3')

Default Values
int():  0
float():  0.0
str():
list():  []
bool():  False

### Advanced Numbers: Octal, Hexadecimal, Binary, Complex

In [44]:
# Normal Integer
i = 50
print("Decimal Value:",i)

# converting integer to octal value
o = oct(i)
print("\nOctal Value:",o,", type of o:",type(o)) # number prefixed by 0o (zero and a lowercase "o" or uppercase "O") represents an octal number

# converting integer to hex value
h = hex(i)
print("\nHexadecimal Value:",h,", type of h:",type(h)) # number prefixed by 0x (zero and a lowercase "x" or uppercase "X") represents a hexadecimal number

# converting integer to binary value
b = bin(i)
print("\nBinary Value:",b,", type of b:",type(b)) # number prefixed by 0b (zero and a lowercase "b" or uppercase "B") represents a binary number

# Real & Imaginary Number
x = 5+6j
print("\nComplex Number:",x,", type of x:",type(x))
print("Defining complex number using complex():",complex(4,3))

# converting octal to integer value
print("\nOctal to integer: 0o62 is {}".format(0o62))

# converting hex to integer value
print("\nHexadecimal to integer: 0x32 is {}".format(0x32))

# converting binary to integer value
print("\nBinary to integer: 0b110010 is {}".format(0b110010))

# Float numbers representation
print('\nFloat Representation:\n4e8 is {}'.format(4e8))
print('-9.53e18 is {}'.format(-9.53e18))
print('float(nan) is',float('nan'))
print('float(inf) is',float('inf'))
print('float(-inf) is',float('-inf'))

# String representation
print('\nString Representation:\nUnicode: \\u0e21 is {}'.format('\u0e21'))
print('Octal: \\521 is {}'.format('\521'))
print('Hex: \\x521 is {}'.format('\x521'))

Decimal Value: 50

Octal Value: 0o62 , type of o: <class 'str'>

Hexadecimal Value: 0x32 , type of h: <class 'str'>

Binary Value: 0b110010 , type of b: <class 'str'>

Complex Number: (5+6j) , type of x: <class 'complex'>
Defining complex number using complex(): (4+3j)

Octal to integer: 0o62 is 50

Hexadecimal to integer: 0x32 is 50

Binary to integer: 0b110010 is 50

Float Representation:
4e8 is 400000000.0
-9.53e18 is -9.53e+18
float(nan) is nan
float(inf) is inf
float(-inf) is -inf

String Representation:
Unicode: \u0e21 is
Octal: \521 is
Hex: \x521 is R1

### Importing Libraries

In [45]:
# math library
import math as m
# math module is a library of mathematical functions and constants. As keyword is used to define alias.

print("m.sqrt(16): ",m.sqrt(16)) # square root
print("m.pi: ",m.pi) # value of pi
print("m.e: ",m.e,"\n") # value of e

# The help function is used to find more information on math library
help(m.sqrt)

m.sqrt(16):  4.0
m.pi:  3.141592653589793
m.e:  2.718281828459045

Help on built-in function sqrt in module math:

sqrt(x, /)
    Return the square root of x.

### Dictionary
*    Dictionaries are defined using a Key-Value pair in curly brackets {}.
*    A key-value can be an integer, string, etc

In [46]:
empty_dict={}
empty_dict

{}

In [47]:
a= {
    0:"Zero",
    1:"One",
    2:"Two",
    3:"Three",
    4:"Four",
    5:"Five"
}

# 0,1,2, etc are the keys. Zero, One, Two, etc are the values.
print("a:",a)

b= {
    4:"four",
    5:"five",
    6:"six",
    7:"seven",
    8:"eight"
}
print("b:",b)

a.update(b) # a dictionary is updated with keys & values of dictionary b, only unique values are stored
print("\nAfter Updating Dictionary,\na:",a)

a: {0: 'Zero', 1: 'One', 2: 'Two', 3: 'Three', 4: 'Four', 5: 'Five'}
b: {4: 'four', 5: 'five', 6: 'six', 7: 'seven', 8: 'eight'}

After Updating Dictionary,
a: {0: 'Zero', 1: 'One', 2: 'Two', 3: 'Three', 4: 'four', 5: 'five', 6: 'six', 7: 'seven', 8: 'eight'}

In [48]:
a= {
    "Text":"String",
    18:"Integer",
    True:"Boolean",
    (1,2,3):"Tuple",
    3.5:"Float",
    3.5:"Float_duplicate" # 3.5 is the duplicate key, the returned value will be the last defined value
}
print("Dictionary a:",a) # Printing order of dictionary is not ordered

b={
    "Name":"Jack",
    "Age":34,
    "Amount":76890.56,
    "Access":False,
    "Address":(22,'ABC','XYZ'),
    "Mobile":[12345,95748,"45225"]
}
print("\nDictionary b:",b)

# Accessing the dictionary elements using keys
print("\nb['Name']:",b['Name'])
print("a[True]:",a[True])

# Adding new Key-Values pairs in dictionary
a["New Key"]="New Value"
b["Software"]="Python"

print("\na.keys():",a.keys()) # retrieving the list of keys of Dictionary A
print("b.values():",b.values()) # retrieving the list of values of Dictionary B
print("a.items():",a.items()) # returns the list of all items (tuples) in dictionary A

# Converting a tuple into dictionary
x=(('a',1),('b',2),('c',3),('d',4),('e',5))
y=dict(x)
print("\nx: ",x,"\nTuple converted into dictionary: ",y)

Dictionary a: {'Text': 'String', 18: 'Integer', True: 'Boolean', (1, 2, 3): 'Tuple', 3.5: 'Float_duplicate'}

Dictionary b: {'Name': 'Jack', 'Age': 34, 'Amount': 76890.56, 'Access': False, 'Address': (22, 'ABC', 'XYZ'), 'Mobile': [12345, 95748, '45225']}

b['Name']: Jack
a[True]: Boolean

a.keys(): dict_keys(['Text', 18, True, (1, 2, 3), 3.5, 'New Key'])
b.values(): dict_values(['Jack', 34, 76890.56, False, (22, 'ABC', 'XYZ'), [12345, 95748, '45225'], 'Python'])
a.items(): dict_items([('Text', 'String'), (18, 'Integer'), (True, 'Boolean'), ((1, 2, 3), 'Tuple'), (3.5, 'Float_duplicate'), ('New Key', 'New Value')])

x:  (('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5))
Tuple converted into dictionary:  {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [49]:
# Using pprint library (Pretty Printing) for viewing dictionary neatly
from pprint import pprint as pp
a={
    "Name":"Jack",
    "Age":34,
    "Amount":76890.56,
    "Access":False,
    "Address":(22,'ABC','XYZ'),
    "Mobile":[12345,95748,"45225"]
}
pp(a) # Keys are arranged in a sorted manner

{'Access': False,
 'Address': (22, 'ABC', 'XYZ'),
 'Age': 34,
 'Amount': 76890.56,
 'Mobile': [12345, 95748, '45225'],
 'Name': 'Jack'}

### Sets
*    Sets contains unique elements
*    They are defined by curly brackets {}

In [50]:
s1 = {1,2,3,4,5}
s2 = {2,5,1,5,3,2,5,3,4,1,2,4,4,5,2,1,1,3} # elements are repeated
print("Set s1: {}".format(s1))
print("Set s2: {} , only unique elements are contained in the set".format(s2))

# Adding an element in set using add()
s1.add(6)
print("\nAfter adding element in List s1: {}".format(s1))

# Removing an element in set using remove()
s1.remove(6)
s1.discard(6) # always succeeds without raising KeyError
print("After removing element in List s1: {}".format(s1))

# Check if element is present in the set
print("\n6 in s1:",6 in s1)

# Making a copy of set
s2 = s1.copy()
print("\ns2 (Copy of set s1): ",s2)

# Clearing contents of set s2
s2.clear()
print("s2: ",s2) # Empty Set

# Converting a set into list using the list constructor
a = {3,4,2,4,3,2,4,1,1,1,4,5,3,4,2,2,3}
b = list(a)
print("\nSet a: ",a,"\nSet coverted into list: ",b)

# Converting a list into set using the set constructor
a = [3,4,2,4,3,2,4,1,1,1,4,5,3,4,2,2,3]
b = set(a)
print("\nList a: ",a,"\nList coverted into set: ",b)

Set s1: {1, 2, 3, 4, 5}
Set s2: {1, 2, 3, 4, 5} , only unique elements are contained in the set

After adding element in List s1: {1, 2, 3, 4, 5, 6}
After removing element in List s1: {1, 2, 3, 4, 5}

6 in s1: False

s2 (Copy of set s1):  {1, 2, 3, 4, 5}
s2:  set()

Set a:  {1, 2, 3, 4, 5}
Set coverted into list:  [1, 2, 3, 4, 5]

List a:  [3, 4, 2, 4, 3, 2, 4, 1, 1, 1, 4, 5, 3, 4, 2, 2, 3]
List coverted into set:  {1, 2, 3, 4, 5}

In [51]:
a={1,2,3,4}
b={3,4,5,6}
c={5,6}
print("a:",a)
print("b:",b)
print("c:",c)

print("\na.union(b):",a.union(b)) # A union B
print("a.intersection(b):",a.intersection(b)) # A intersection B
print("a.symmetric_difference(b):",a.symmetric_difference(b)) # ~(A intersection B), all other uncommon elements
print("a.difference(b):",a.difference(b)) # A prime
print("b.difference(a):",b.difference(a)) # B prime

print("\nset(a).issuperset(c):",set(a).issuperset(c))
print("set(b).issuperset(c):",set(b).issuperset(c))
print("set(c).issubset(a):",set(c).issubset(a))
print("set(c).issubset(b):",set(c).issubset(b))
print("set(c).isdisjoint(a):",set(c).isdisjoint(a))

d={10,20,30,40,20,10,20,30,50,70}
e={10,20,30,40,20,10,20,30,50,60}

print("\nd:",d)
print("e:",e)
d.update(e) # Update a set with the union of itself and others
print("After updating, d:",d)

a: {1, 2, 3, 4}
b: {3, 4, 5, 6}
c: {5, 6}

a.union(b): {1, 2, 3, 4, 5, 6}
a.intersection(b): {3, 4}
a.symmetric_difference(b): {1, 2, 5, 6}
a.difference(b): {1, 2}
b.difference(a): {5, 6}

set(a).issuperset(c): False
set(b).issuperset(c): True
set(c).issubset(a): False
set(c).issubset(b): True
set(c).isdisjoint(a): True

d: {50, 20, 70, 40, 10, 30}
e: {50, 20, 40, 10, 60, 30}
After updating, d: {70, 40, 10, 50, 20, 60, 30}

### Frozensets
*    Frozen sets are a native data type in Python that have the qualities of sets,
*    They are immutable like tuples.
*    The primary reason to use them is to write more clear, functional code.
*    By defining a variable as a frozen set, were telling future readers: do not modify this!

In [52]:
myList = [1,1,2,3,4]
frozenList = frozenset(myList)
print(frozenList) # frozenset({1, 2, 3, 4})

myString = "Hello"
frozenString = frozenset(myString)
print(frozenString) # frozenset({'e', 'l', 'H', 'o'})

frozenset({1, 2, 3, 4})
frozenset({'e', 'H', 'o', 'l'})

### User_Defined Input

In [53]:
a = input("Enter number: ") # input function is used for inputting through keyboard
print("User entered: {}. It is a string".format(a))
print(type(a)) # result is of string data type

# In order to convert string into number, we can use object constructor int()
b = int(a)
print("\nAfter conversion, {} is a integer".format(b))
print(type(b),'\n')

Enter number: 56
User entered: 56. It is a string
<class 'str'>

After conversion, 56 is a integer
<class 'int'>

### Conditional statements if-else, elif statements

In [54]:
# Indentation is critical in order to avoid error

marks = int(input("Enter Marks: ")) # input() is enclosed inside int() which converts string into integer
print("Marks scored: {}".format(marks))

if marks>=75: # if statement
    print("Grade A" )

elif marks>=60 and marks<75: # else if statement
    print("Grade B")

else: # else statement
    print("Grade C")

Enter Marks: 82
Marks scored: 82
Grade A

### Range()

In [55]:
# range(n) generates a sequence from 0 to n-1
# list(range(n)) is used to represent the range in form of a list

print(range(5), list(range(5)))
print(range(4,8), list(range(4,8)))
print(range(1,10,2), list(range(1,10,2)))

range(0, 5) [0, 1, 2, 3, 4]
range(4, 8) [4, 5, 6, 7]
range(1, 10, 2) [1, 3, 5, 7, 9]

### For Loop

In [56]:
a = [5,2,6,2,5,1,5]

for i in a: # iterates over each element in list
    print(i)

5
2
6
2
5
1
5

In [57]:
a = [5,2,6,2,5,1,5]

for i in range(len(a)): # iterates over each index in list
    print("Element {}: {}".format(i,a[i]))

Element 0: 5
Element 1: 2
Element 2: 6
Element 3: 2
Element 4: 5
Element 5: 1
Element 6: 5

In [58]:
a = [5,2,6,2,5,1,5]
print("Using enumerate,")

for i,k in enumerate(a,start=1): # enumerate() yields (index,value) tuples
    print("Element {}: {}".format(i,k))

list(enumerate(a,start=1)) # enumerate function can also be used directly on the list

Using enumerate,
Element 1: 5
Element 2: 2
Element 3: 6
Element 4: 2
Element 5: 5
Element 6: 1
Element 7: 5

[(1, 5), (2, 2), (3, 6), (4, 2), (5, 5), (6, 1), (7, 5)]

In [59]:
# List Comprehension using for loop

# Method_1
a = [10,20,30,40,50]
print("a: ",a)

b = []

for i in a:
    b.append((i*10))
print("b: ",b)

# Method_2 - List Comprehension
a = [10,20,30,40,50]
b = [i*10 for i in a]
print("b: ",b)

a:  [10, 20, 30, 40, 50]
b:  [100, 200, 300, 400, 500]
b:  [100, 200, 300, 400, 500]

In [60]:
# Example: number squared for even and cubed for odd

x = [1,2,3,4,5,6,7,8,9]
[y**2 if y%2==0 else y**3 for y in x]

[1, 4, 27, 16, 125, 36, 343, 64, 729]

In [61]:
# Dictionary Comprehension

a = [10,20,30,40,50]
{x:x**2 for x in a}

{10: 100, 20: 400, 30: 900, 40: 1600, 50: 2500}

### While loop

In [62]:
a = [5,2,6,2,5,1,5]
i=0
while i<len(a):
    print("Element {}: {}".format(i,a[i]))
    i=i+1

Element 0: 5
Element 1: 2
Element 2: 6
Element 3: 2
Element 4: 5
Element 5: 1
Element 6: 5

In [63]:
# List Comprehension using while loop
# Data cleaning program (list containing numbers and string are filtered)

i=0
x = ["String",84.1, "text", 45.32,23,"Number",24,36.4,"Some text", 31]
y = []
l = len(x)
print("Original list: {}".format(x))

while i < l:
    if isinstance(x[i],int) or isinstance(x[i],float):
        y.append(x[i])
        x.pop(i)
        l-=1
        i-=1
    i=i+1

print("\nAfter Data cleaning,\nList with numbers: {}".format(y))
print("List with strings: {}".format(x))

Original list: ['String', 84.1, 'text', 45.32, 23, 'Number', 24, 36.4, 'Some text', 31]

After Data cleaning,
List with numbers: [84.1, 45.32, 23, 24, 36.4, 31]
List with strings: ['String', 'text', 'Number', 'Some text']

### Break and continue statements

In [64]:
for i in range(10):
    if (i==4):
        continue # element 4 is skipped
    if(i==8):
        break # loop stops as it reaches 8
    print(i)

0
1
2
3
5
6
7

### User_Defined Functions

In [65]:
# Functions are defined for code-reusability
# Compiling the above code in function

a = ["String",84.1, "text", 45.32,23,"Number",24,36.4,"Some text", 31] # Global variable
print("Original list: {}".format(a),"\n")

def data_clean(x): # function declaration
    '''
    List containing numbers and string are filtered
    '''
    i = 0
    y = [] # Local variable
    l = len(x)

    while i < l:
        if isinstance(x[i],int) or isinstance(x[i],float):
            y.append(x[i])
            x.pop(i)
            l-=1
            i-=1
        i=i+1
    return y,x # return statement returns the value

def sum_list(x):
    '''
    Sum of list elements
    '''
    sum=0
    for i in x:
        if isinstance(i,int) or isinstance(i, float):
            sum=sum+i
        else: pass # pass statement means do nothing
    return sum

# function calling
d = sum_list(a)
b,c = data_clean(a)

# On calling the help(), we can see the documentation of the function.
help(data_clean)
print("Returning function data_clean:",b,c,"\n")

help(sum_list)
print("Returning function sum_list:",d,"\n")

Original list: ['String', 84.1, 'text', 45.32, 23, 'Number', 24, 36.4, 'Some text', 31]

Help on function data_clean in module __main__:

data_clean(x)
    List containing numbers and string are filtered

Returning function data_clean: [84.1, 45.32, 23, 24, 36.4, 31] ['String', 'text', 'Number', 'Some text']

Help on function sum_list in module __main__:

sum_list(x)
    Sum of list elements

Returning function sum_list: 243.82

In [66]:
def add(a,b=5):
    sum=a+b
    return sum

print("Calling function when only one parameter is defined: ",add(3)) # default value for b is taken
print("Calling function when both parameters are defined: ",add(4,8)) # default value is replaced

Calling function when only one parameter is defined:  8
Calling function when both parameters are defined:  12

### Objects and Classes

In [67]:
a = [1,2,3,4,5]
dir(a) # returns the list of all Python's objects classes

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

#### Inheritance

In [68]:
class Human(): # defining class Human
    # attributes
    legs=2
    ears=2
    hands=2
    eyes=2

    # function (callable)
    def get_legs(self): # self method is used to refer to the parameters of the instance of a class
        return self.legs
    @property
    def get_ears(self): # property (not a function, hence not callable)
        return self.ears

class man(Human): # defining class man, Human is inherited by defining inside parenthesis
    gender='male'

class woman(Human): # defining class woman, Human is the parent class
    gender='female'

Jon = man() # object created
print("Jon.gender:",Jon.gender)
print("Jon.eyes:",Jon.eyes)
Jon.nose=1
print("Jon.nose:",Jon.nose)
print("Jon.get_legs():",Jon.get_legs()) # parenthesis is required when we are calling the function
print("Jon.get_legs:",Jon.get_legs) # parenthesis is omitted, bound method message appears depicting the function
print("Jon.get_ears:",Jon.get_ears) # although parenthesis is omitted, bound method message would not appear as '@property' is defined above the method which makes it a property

Jeny = woman()
print("\nJeny.gender:",Jeny.gender)
print("Jeny.hands:",Jeny.hands)

Jon.gender: male
Jon.eyes: 2
Jon.nose: 1
Jon.get_legs(): 2
Jon.get_legs: <bound method Human.get_legs of <__main__.man object at 0x7ee74c283610>>
Jon.get_ears: 2

Jeny.gender: female
Jeny.hands: 2

#### Special methods
*   __ __init__ __
*   __ __str__ __
*   __ __name__ __

In [69]:
class Student():
    def __init__(self,name, age, city): # __init__ is a special method used to create an instance
        # Data Attributes for initializing objects
        self.name=name;
        self.age=age;
        self.city=city;
    def details(self):
        print("Name is: ", self.name)
        print("Age is: ",  self.age)
        print("City is: ",self.city)
    def __str__(self): # __str__ is a special method used to return a string representation of an object
        return "| %s | %s | %s |" %(self.name,self.age,self.city)

a=Student("James",24,"Dubai")
b=Student("Jack",23,"New York")
c=Student("Julia",24,"Delhi")
d=Student("Jim",21,"California")

a.details()
print("\nb.name:",b.name)
print("c.city:",c.city)
print("d:",d)

# Special method __name__
print()
print(__name__) # Evaluates to '__main__' or the actual module name, depending on how the enclosing module is being used

Name is:  James
Age is:  24
City is:  Dubai

b.name: Jack
c.city: Delhi
d: | Jim | 21 | California |

__main__


#### Public vs Private methods

In [70]:
# Use an underscore _ before the method name to keep it non-public.

class M(object):

    def abc(self): # abc is a public function
        print('Use Tab button to see public method!')

    def _xyz(self): # xyz is a private function
        print("Private method is not visible while using the Tab button!")

m = M()
m.abc()
m._xyz()

print()

class N(M):

    def pqr(self): # pqr is a public function
        print('Use Tab button to see public method!')

n=N()
n.abc()
n.pqr()
n._xyz()

Use Tab button to see public method!
Private method is not visible while using the Tab button!

Use Tab button to see public method!
Use Tab button to see public method!
Private method is not visible while using the Tab button!

In [71]:
dir(M)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_xyz',
 'abc']

### Lambda Statement

In [72]:
# Lambda functions are defined when the functions are used very less

# Example 1
a = [1,2,3,4,5]
print("a: ",a)

def expr(x): # some function for calculation
    return ((x**x+x)/x)-x # some expression
print("Result using function:",expr(4))

# the above function can be illustrated using lambda function
a = lambda x:((x**x+x)/x)-x
print("Result using lambda expression:",a(4))

# Example 2
b = "This is a sample text"
c = b.split()
print("\nString:",b)
print("After split():",c)

d = ' ' # empty string with space
print("Joining list by '%s' using join():" %(d),d.join(c)) # join() is used to join a list of strings using the string d in between its elements (works opposite to the split())

e = ' | '
print("Joining list by '%s' using join():" %(e),e.join(c))

# using lambda
x = lambda a:' '.join(a)
print("Joining list by ' ' using lambda expression:",x(c))

# Example 3
s = lambda x,y:x+y
print('\nCalculating Sum using lambda function:',s(3,4))

a:  [1, 2, 3, 4, 5]
Result using function: 61.0
Result using lambda expression: 61.0

String: This is a sample text
After split(): ['This', 'is', 'a', 'sample', 'text']
Joining list by ' ' using join(): This is a sample text
Joining list by ' | ' using join(): This | is | a | sample | text
Joining list by ' ' using lambda expression: This is a sample text

Calculating Sum using lambda function: 7

### pow()
*   The function pow() takes two arguments, equivalent to x^y.
*   With three arguments it is equivalent to (x^y)%z, but may be more efficient for long integers

In [73]:
print("2 ^ 5: ",2**5)
print("2 ^ 5: ",pow(2,5))
print("(2 ^ 5) % 3: ",pow(2,5,3))

2 ^ 5:  32
2 ^ 5:  32
(2 ^ 5) % 3:  2

### abs()
*    The function abs() returns the absolute value of a number.
*    The argument may be an integer or a floating point number.
*    If the argument is a complex number, its magnitude is returned.

In [74]:
print("abs(2.39): ",abs(2.39))
print("abs(12+2j): ",abs(12+2j))

abs(2.39):  2.39
abs(12+2j):  12.165525060596439

### round()
*    The function round() will round a number to a given precision in decimal digits (default 0 digits).
*    It does not convert integers to floats.

In [75]:
print("round(3.14): ",round(3.14))
print("round(3.14,1): ",round(3.14,1))
print("round(314,-2): ",round(314,-2))
print("round(2379,-2): ",round(2379,-2))

round(3.14):  3
round(3.14,1):  3.1
round(314,-2):  300
round(2379,-2):  2400

### divmod()
*    divmod() takes two arguments
*    returns a tuple of two values, quotient and remainder

In [76]:
a = 5
b = 2
print("a:",a)
print("b:",b)
print("a//b:",a//b) # Quotient
print("a%b:",a%b) # Remainder

quot, rem = divmod(a,b)
print("\nQuotient using divmod():",quot)
print("Remainder using divmod():",rem)

a: 5
b: 2
a//b: 2
a%b: 1

Quotient using divmod(): 2
Remainder using divmod(): 1

### zip()

In [77]:
# zip() contains one element from each sequence
x = zip("Hello", "12345")
print("x: ",list(x)) # result is changed into list
print("Type: ",type(x)) # zip is a class

y = list(zip([1,2,3,4],('abc','pqr','xyz')))
print("\ny: ",y) # contains three elements (shorter length is considered)

# in order to get back the lists, we can unzip the list of tuples using the asterisk
a,b = zip(*y)
print("\nAfter unzip, \na: {} \nb: {}" .format(a,b))

# zip() in dictionaries
print(f"\nUsing zip() on dictionaries:")

d1 = {'a':1,'b':2}
print(f"d1: {d1}")
d2 = {'c':4,'d':5}
print(f"d2: {d2}")

print(f"list(zip(d1,d2)): {list(zip(d1,d2))}")
print(f"list(zip(d2,d1.values())): {list(zip(d2,d1.values()))}")

# Example: two strings from L1 and L2 concatenated together with a connector between them
def concatenate(L1, L2, connector):
    return [word1+connector+word2 for (word1,word2) in zip(L1,L2)]
print("\nConcatenating strings with connector using zip():",concatenate(['A','B'],['a','b'],'-'))

x:  [('H', '1'), ('e', '2'), ('l', '3'), ('l', '4'), ('o', '5')]
Type:  <class 'zip'>

y:  [(1, 'abc'), (2, 'pqr'), (3, 'xyz')]

After unzip,
a: (1, 2, 3)
b: ('abc', 'pqr', 'xyz')

Using zip() on dictionaries:
d1: {'a': 1, 'b': 2}
d2: {'c': 4, 'd': 5}
list(zip(d1,d2)): [('a', 'c'), ('b', 'd')]
list(zip(d2,d1.values())): [('c', 1), ('d', 2)]

Concatenating strings with connector using zip(): ['A-a', 'B-b']

### map()
*    map() is used to apply the function on the specified sequence

In [78]:
a = [1,2,3,4,5,6,7,8,9]
print("List:",a)

def add_two(x): # function that adds 2 to each element
    x = x+2
    return x
print("\nFunction is applied to all the elements of list using map():",list(map(add_two,a)))

# lambda function is mostly integrated in these cases in order to reduce the complexity of the program
c = list(map(lambda x:x+2, a))
print("Lambda expression is applied to all the elements of list using map():",c)

a = [1,2,3,4]
b = [5,6,7,8]
c = [9,10,11,12]
print(f"\nMap() with multiple iterables: {list(map(lambda x,y,z:x+y+z,a,b,c))}")

# map() for finding the length of each word in the phrase (broken by spaces) and return the values in a list
def word_lengths(phrase):
    return list(map(len, phrase.split()))

phrase = "This is a testing phrase"
print("\nPhrase: ",phrase)
print("Words Length: ",word_lengths(phrase))

List: [1, 2, 3, 4, 5, 6, 7, 8, 9]

Function is applied to all the elements of list using map(): [3, 4, 5, 6, 7, 8, 9, 10, 11]
Lambda expression is applied to all the elements of list using map(): [3, 4, 5, 6, 7, 8, 9, 10, 11]

Map() with multiple iterables: [15, 18, 21, 24]

Phrase:  This is a testing phrase
Words Length:  [4, 2, 1, 7, 6]

### filter()
*    filter() is used to filter the elements by applying the function on the particular sequence

In [79]:
a = [1,2,3,4,5,6,7,8,9]
print("a:",a)

def div_3(x):
    if(x%3==0):
        return x
print("Filter elements in list using filter():",list(filter(div_3,a)))

def filter_words(word_list, letter):
    return list(filter(lambda word:word[0]==letter,word_list))

words = ['hello','are','cat','dog','ham','hi','go','to','heart']
print("\nWords:",words)
print("Filtering Words starting with 'h' from the list:",filter_words(words,'h'))

a: [1, 2, 3, 4, 5, 6, 7, 8, 9]
Filter elements in list using filter(): [3, 6, 9]

Words: ['hello', 'are', 'cat', 'dog', 'ham', 'hi', 'go', 'to', 'heart']
Filtering Words starting with 'h' from the list: ['hello', 'ham', 'hi', 'heart']

### reduce()

*    The function reduce(function, sequence) continually applies the function to the sequence.
*   It then returns a single value.

In [80]:
from functools import reduce

arr = [77,41,42,13]
print("Sum of all elements using reduce(): ",reduce(lambda x,y: x+y,arr)) # similar to sum()

# Example: Get Difference of two elements if the first element is bigger, else add two elements
def myfunc(a,b):
    return a-b if (a > b) else a+b
print("\nmyfunc() result using reduce(): ",reduce(myfunc, arr))

# Example: Converting a list of digits into number
def digits_to_num(digits):
    return reduce(lambda x,y:x*10 + y,digits)
print("\ndigits_to_num() result:",digits_to_num([3,4,3,2,1]))

Sum of all elements using reduce():  173

myfunc() result using reduce():  65

digits_to_num() result: 34321

### Reading and Writing files

*   write() method is used to write
*   read() method reads from the current position until the end of the file
*   readLines() method is for reading all text on file and return a list of lines
*    readline() method reads a single line from the current position

In [81]:
# Creating file Test1.txt
with open('Test1.txt','w') as wf: # w represents writing mode, wf is the alias name
    wf.write("This is a sample test line") # write() is used to write text on file
    wf.write("\nThis is a next line. ")
    wf.write("Continuing last line.")

with open('Test1.txt','r') as twf: # r represents reading mode
    print('Writing and Reading text files using write() and read():\n',twf.read(),'\n') # read() is used to read text on file

with open('Test1.txt','a') as twf: # a represents appending in the existing file
    twf.write(" This is the appended text.")

with open('Test1.txt','r') as twf:
    print("Appending text in an existing file using readlines():\n",twf.readlines(),'\n') # readlines() is used to read text on file and returns a list of lines

# copying from one file into another
with open('Test1.txt','r') as rf:
    with open('Test2.txt','w') as wf:
          for line in rf:
                wf.write(line)

with open('Test2.txt','r') as twf:
    print("Copying from one file into another file:\n",twf.readline()) #  readline() is used to read the first line
    print("Reading partial characters:",twf.read(23)) # reading next 23 characters from the last reading position
    print("Moving pointer in the file:",twf.seek(75))
    print("Reading Line:",twf.read())

print("\nName of the file:",twf.name) # fetching the name of file
print("Mode of the file:",twf.mode) # fetching the mode of file
twf.close() # closing file

Writing and Reading text files using write() and read():
 This is a sample test line
This is a next line. Continuing last line.

Appending text in an existing file using readlines():
 ['This is a sample test line\n', 'This is a next line. Continuing last line. This is the appended text.']

Copying from one file into another file:
 This is a sample test line

Reading partial characters: This is a next line. Co
Moving pointer in the file: 75
Reading Line: is the appended text.

Name of the file: Test2.txt
Mode of the file: r

### Error handling

*   Raise an exception to interrupt program flow
*   Handle an exception to resume control
*   Unhandled exceptions will terminate the program
*   Exception objects contain information about the exceptional event
*   Illustration of try and except blocks
*   Finally block always executes in the end

In [82]:
# Errors are catched using try & except blocks

# Scenario 1:
try:
    b=34/0
except:
    print('Error! Division by Zero is not possible')

# Scenario 2:
try:
    float("Text")
except:
    print('Error! Text cannot be converted into Float datatype')

# Scenario 3:
try:
    'Text'+32
except:
    print('Error! String and Integer cannot be added')

Error! Division by Zero is not possible
Error! Text cannot be converted into Float datatype
Error! String and Integer cannot be added

### Iterator
* Iterable objects can be passed to the built-in iter() to get an iterator.
* Iterator objects can be passed to the built-in next() to fetch the next item.

In [83]:
iterable = ['Cow','Hen','Dog','Cat']

iterator = iter(iterable)

print('Iterable List: ',iterable)
print('Iterator:',iterator) # object

Iterable List:  ['Cow', 'Hen', 'Dog', 'Cat']
Iterator: <list_iterator object at 0x7ee74c41fd90>

In [84]:
while 1:
    try:
        print(next(iterator))
    except StopIteration as e:
        break

Cow
Hen
Dog
Cat

### Generators
* **specify iterable sequences:** all generators are iterators
* **are lazily evaluated:** the next value in the sequence is computed on demand
* **can model infinite sequences:** such as data streams with no definite end
* **are composable into pipelines:** for natural stream processing
* Generators adapt the Just in Time Computations.
* Generator functions contains atleast one use of the **yield** keyword.
* Each call to a generator function creates a new generator object.
* These are generally used for infinite (or large) sequences, sensor readings, mathematical series, massive files, etc

In [85]:
def testgen():
    yield 1
    yield 2
    yield 3

g = testgen()
print('Generator:',g) # object

for each in g: # printing remaining elements
    print(each)

Generator: <generator object testgen at 0x7ee74c465fc0>
1
2
3

In [86]:
# Generator Execution

def take(count,iterable):
    ''' Takes item from the front of an iterable

    Args:
        count: The maxximum number of items to retrieve
        iterable: The source series

    Yields:
        At most 'count' items from an 'iterable'
    '''
    counter=0
    for item in iterable:
        if counter==count:
            return
        counter+=1
        yield item

def distinct(iterable):
    ''' Return unique items by eliminating duplicates

    Args:
        iterable: The source series

    Yields:
        Unique elements in order from 'iterable'
    '''
    seen=set()
    for item in iterable:
        if item in seen:
            continue
        yield item
        seen.add(item)

def run_pipeline():
    items = [3,1,4,1,1,2,5,1,3,6,1,6,1,7,3,1,3,2,4]
    return [item for item in take(5,distinct(items))]

run_pipeline()

[3, 1, 4, 2, 5]

In [87]:
# Defining model specifications

squares = (x*x for x in range(1,int(10e5)))
print('Model:',squares) # returns generator object, saves memory by just defining and not running it
print('Sum of model:',sum(squares))

Model: <generator object <genexpr> at 0x7ee74c4669d0>
Sum of model: 333332833333500000

In [88]:
a = [1,2,3]
b = [4,5,6]

from itertools import chain
c = chain(a,b) # joining two lists

print('Chain Object:',c) # object
list(c)

Chain Object: <itertools.chain object at 0x7ee74c45a6e0>

[1, 2, 3, 4, 5, 6]